/* lineas generales */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.fondo {
    height: 100%;
    width: 100%;
    background-color: #356EA9;
}

.principal {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    height: 100%;

}

/* Sección de la derecha INPUT*/

::placeholder {
    color: #0A3871;
    font-size: 26px;
    font-weight: normal;
}


.input {
    margin: 50px  20px 0 20px;          
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    height: 100%;
}

.input textarea {
    
    resize: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-color: transparent;
    border-radius: 20px;
    padding: 2.5rem;

}

textarea:Hover {
    border-color: #0A3871;

}

.logo__exclamacion {
    width: 15px;
    height: 15px;
}

.input__p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
}

.input__botones {
    
    width: 100%;
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    align-items: center;
    justify-content: space-around;
}

.input__botones-Enc {
    font-size: 18px;
    border-color: transparent;
    width: 340px;
    padding: 1rem;
    border-radius: 45px;
    color: #FFFFFF;
    background-color: #0A3871;
}



.input__botones-Des {
    font-size: 18px;
    border-color: transparent;
    font-weight: 600;
    width: 340px;
    padding: 1rem;
    border-radius: 45px;
    color: #0A3871;
    background-color: #FFFFFF;
}






/* Sección de la derecha RESULTADO*/

.resultado {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px 0 20px;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 35px 40px;
    height: 790px;
    width:490px ;
}

.resultado__p-acentuado {
    margin: 10px  10px 10px 5px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
.resultado__p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-top: 30px;
}

.resultado__img {
    width:80%;
margin-top: 10px;
margin-bottom: 40px;
}

/* Sección del footer*/


footer div {
    margin: 50px 15px 0 0 ;
    display: flex;
    justify-content: flex-end;
    align-items:end;
    height:auto;
}

footer p {
    
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;

}

.logo__linkedIn {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}