/* lineas generales */
* {
    padding: 0;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.fondo {
    background-color: #356EA9;
}

.principal {
    display: flex;
    margin: 10px 10px;
    box-sizing: border-box;
    justify-content: center;
    height: 50vw;
    width:auto;
}

/* ----------  Sección de la izquierda INPUT ---------------------- */

::placeholder {
    color: #0A3871;
    font-size: 26px;
    font-weight: normal;
}

.input {
    margin: 50px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    max-width: 100%
}

.input textarea {
    outline: none;
    font-size: 28px;
    font-weight: 300;
    border-color: transparent;
    border-radius: 20px;
    padding: 2.5rem;
    min-height: 100%;
    width: 100%;
    

}

textarea:Hover {
    border-color: #0A3871;
}

.logo__exclamacion {
    width: 15px;
    height: 15px;
}

.input__p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
}


.input__botones-Enc {
    font-size: 18px;
    border-color: transparent;
    width: 340px;
    padding: 1rem;
    border-radius: 45px;
    color: #FFFFFF;
    background-color: #0A3871;
}



.input__botones-Des {
    font-size: 18px;
    border-color: transparent;
    font-weight: 600;
    width: 340px;
    padding: 1rem;
    border-radius: 45px;
    color: #0A3871;
    background-color: #FFFFFF;
}



/* --------------------  Sección de la derecha RESULTADO---------------------------------*/

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px 0 20px;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 35px 40px;

}

.resultado__p-acentuado {
    margin: 20px 10px 10px 5px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    align-items: center;
}

.resultado__img {
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resultado__textarea {
    resize: none;
    font-size: 20px;
    font-weight: 300;
    min-height: 140px;
    border: none;
    text-align: center;
}

.resultado__textarea:focus {
    outline: none;
}

.resultado__button-copiar {
    font-size: 18px;
    border-color: #0A3871;
    font-weight: 600;
    width: 340px;
    padding: 1rem;
    border-radius: 45px;
    color: #0A3871;
    background-color: #FFFFFF;
    display: none;
}


/*-------------------------------Sección del footer ------------------------------*/


footer div {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-bottom: 0;
    align-items: center;
}

footer p {

    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;

}

.logo__linkedIn {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

/*--------------------------------------------  TABLET----------------------------*/
@media(max-width:768px) {
    .principal {
        display: block;

        height: auto;
        justify-content: flex-start;

    }


    /*--- parte izquierda --- */
    .input {
        box-sizing: border-box;
        margin: auto;
        min-height: fit-content;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 100%;
    }


    .input textarea {
        outline: none;
        min-height: 50vw;
        font-size: 28px;
        font-weight: 300;
        border-color: transparent;
        border-radius: 20px;
        padding: 0.5rem;
        margin-top: 5px;
    }


    .input__botones {

        display: flex;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        justify-content: space-between;

    }

    .resultado {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        border-radius: 20px;

    }

    .resultado__img {
        display: none;
    }

    .resultado__p-acentuado {
        width: 100%;
        font-size: 24px;
        align-items: center;
    }


    .resultado__textarea {
        width: 100%;
        margin-top: 0.75rem;
        resize: none;
        font-size: 20px;
        font-weight: 300;
        border: none;
        text-align: center;
    }

    footer div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

}

/* ----------------- CELULAR -------------- */
@media (max-width:375px) {

    .principal {
        display: block;
        height: auto;
        margin: auto;
    }
    .input{
        margin-top: 0.75rem;
    }
    .input__botones {
        display: block;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 2rem;
    }

    .input__botones-Enc {

        max-width: 100%;
        margin-bottom: 1rem;

    }

    .input textarea {
        min-height: 110vw;
        min-width: 100%;

    }

    .input__botones-Des {
        max-width: 100%;

    }

    .resultado__button-copiar {
        width: 100%;

    }

    footer div {
        margin-top: 10px;
    }


}